.products-wrapper.grid-mode {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.products-wrapper.grid-mode .product-card {
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 405px;
}
.products-wrapper.grid-mode .card-header {
  order: 3;
}
.products-wrapper.grid-mode .card-header .btn-fav {
  position: absolute;
  top: 59%;
  right: 12px;
}
.products-wrapper.grid-mode .product-desc,
.products-wrapper.grid-mode .shipping-status,
.products-wrapper.grid-mode .orders-count,
.products-wrapper.grid-mode .view-link {
  display: none;
}
.hidden {
  display: none;
}
