@import url("/css/variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #ffffff;
  padding: 0px 85px;
  border-bottom: 1px solid var(--primary-line-clr);
}
.container {
  display: flex;
  justify-content: space-around;
  height: 86px;
  align-items: center;
}
.search-bar {
  width: 665px;
  height: 40px;
  display: flex;
  gap: 0px;
}
.search-bar input {
  width: 421px;
  height: 40px;
  border: 2px solid var(--primary-btn-bg);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 12px;
  border-collapse: collapse;
  border-right: none;
}
.search-bar select {
  width: 145px;
  height: 100%;
  border: 2px solid var(--primary-btn-bg);
  border-collapse: collapse;
  font-size: 16px;
  line-height: 100%;
  color: #8b96a5;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  padding: 8px;
}
.search-bar button {
  width: calc(665px - 421px - 145px);
  background-color: var(--primary-btn-bg);
  border: 1px solid var(--primary-btn-bg);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-collapse: collapse;
  outline: none;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}
.user-links {
  display: flex;
  width: 228px;
  height: 41px;
  font-weight: 400;
  font-size: 12px;
  color: #8b96a5;
  gap: 28px;
}
.user-links li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Subnavbar styling */
.sub-navbar {
  height: 56px;
  border-bottom: 1px solid var(--primary-line-clr);
  display: flex;
  align-items: center;
}
.sub-navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 120px;
}
.sub-nav-links {
  display: flex;
  gap: 29px;
}
.sub-nav-links li {
  list-style: none;
}
.sub-nav-links li a {
  text-decoration: none;
  color: var(--primary-text-color);
}
.sub-nav-links li:first-child a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.sub-nav-links li select {
}

/* Right */
.right-nav {
  display: flex;
  list-style: none;
  gap: 30px;
}
.right-nav li select {
  border: none;
}

/* main-container */
.main-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7fafc;
}
.hero-container {
  height: 420px;
  width: 1180px;
  margin-top: 30px;
  display: flex;
  background-color: #ffffff;
  border: 1px solid var(--primary-line-clr);
  border-radius: 6px;
  padding: 32px 14px;
  gap: 12px;
  margin: auto;
  justify-content: center;
}
.hero-container nav {
  width: 250px;
  background-color: #8b96a5;
  border-radius: 6px;
}
.hero-container nav ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.hero-container nav li {
  list-style: none;
  padding: 6px;
  width: 230px;
  height: 35px;
  background-color: #55bdc3;
  border-radius: 5px;
  text-align: start;
}
.main-banner {
  width: 665px;
  background-image: url("/assets/Image/backgrounds/Banner-board-800x420\ 2.png");
  background-size: cover;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px;
  justify-content: center;
}
.main-banner button {
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 6px;
  color: #1c1c1c;
  margin-top: 30px;
  border: none;
}

.left-main-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 200px;
}
.user {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;
  height: 150px;
  background-color: #e3f0ff;
  border-radius: 6px;
}
.profile-pic {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #91b1e7;
}
.profile-pic img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.user button {
  width: 180px;
  height: 30px;
}
.join-now {
  background-color: var(--primary-btn-bg);
  color: white;
  border: none;
  border-radius: 6px;
}
.logIn {
  background-color: white;
  color: var(--primary-btn-bg);
  border: none;
  border-radius: 6px;
}

.discount {
  padding: 12px;
  border-radius: 6px;
  background-color: #f38332;
}
.suplier {
  padding: 12px;
  border-radius: 6px;
  background-color: #55bdc3;
}

.deal-section {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #f7fafc;
}
.deal-and-offers {
  width: 1180px;
  background-color: #ffffff;
  height: 240px;
  margin: auto;
  border: 1px solid var(--primary-line-clr);
  border-radius: 6px;
  margin-top: 20px;
}
.deal-timer {
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  padding-top: 21px;
}
.deal-timer .time-box {
  display: flex;
  width: 45px;
  height: 50px;
  color: #ffffff;
  background-color: #333;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 12px;
}
.deal-items {
  display: grid;
  grid-template-columns: repeat(5, 179px);
}

.deal-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.deal-item span {
  padding: 2px 8px;
  background-color: #ffe3e3;
  color: #eb001b;
  border-radius: 12px;
}
/* category-container */
.category-section {
  background-color: #f7fafc;
  margin-bottom: 20px;
}
.category-container {
  display: flex;
  width: 1180px;
  background-color: #ffffff;
  height: 257px;
  margin: auto;
  border: 1px solid var(--primary-line-clr);
  border-radius: 6px;
  align-items: center;
}
.main-category {
  padding-left: 30px;
  padding-right: 30px;
  width: 280px;
  height: 100%;
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url("/assets/Image/backgrounds/Group\ 969.png");
  background-size: cover;
}
.main-category > button {
  width: 123px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: #ffffff;
  color: #1c1c1c;
}
.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.cat-item {
  display: flex;
  border: 1px solid var(--primary-line-clr);
  position: relative;
  width: 223px;
  height: 127px;
  padding: 12px;
}
.cat-item > div {
  display: flex;
  flex-direction: column;
}
.cat-item > div > h3 {
  margin-bottom: 10px;
}
.cat-item img {
  position: absolute;
  bottom: 6px;
  right: 6px;
}

/* Footer section */
.footer-top-section {
  display: flex;
  height: 324px;
  padding: 60px;
  gap: 85px;
}
.footer-brand-info {
  width: 20%;
  padding-left: 30px;
}
.social-links li {
  list-style: none;
}
.footer-nav-columns {
  display: flex;
  gap: 58px;
}
.footer-nav-columns ul li {
  list-style: none;
  margin-top: 10px;
}
.footer-nav-columns nav ul li a {
  color: #333;
  text-decoration: none;
}
.footer-get-app {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-bottom-bar {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 90px;
  background-color: #DEE2E7;
}
