.normal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.style-none {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
  gap: 6px;
}
a {
  text-decoration: none;
  color: var(--primary-text-color);
}
.opacity {
  opacity: 0.4;
}
.display-none {
  display: none;
}
.filter-list.display-block {
  max-height: 500px;
  opacity: 1;
}
.availableCategory.active {
  background-color: #e5f1ff;
}
