.normal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
style-none {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
  gap: 6px;
}
a {
  text-decoration: none;
  color: var(--primary-text-color);
}
