 <nav class="sub-navbar">
    <div class="sub-navbar-container">
        
        <ul class="sub-nav-links left-nav normal-text">
            <li>
                <a href="#" class="category-trigger">
                    <img src="/assets/icons/hamburger.png" alt="manu icon" width="20px">
                    <span>All category</span>
                </a>
            </li>
            <li><a href="#">Hot offers</a></li>
            <li><a href="#">Gift boxes</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Menu item</a></li>
            <li>
               <select name="help" id="help">
                    <option value="help">Help</option>
                    <option value="track-order">Track Order</option>
                    <option value="returns">Returns</option>
                    <option value="shipping">Shipping</option>
                    <option value="faqs">FAQs</option>
                    <!-- <img src="assets/Layout/Form/input-group/Icon/control/Vector.png" alt="dropdown down icon"> -->
               </select>
            </li>
        </ul>
        <ul class="nav-links right-nav">
          <li>
            <select name="language" id="language">
              <option value="english">English, USD</option>
              <option value="spanish">Spanish, EUR</option>
              <option value="french">French, EUR</option>
            </select>
          </li>
          <li>
            <select name="ship-to" id="ship-to">
              ship-to
              <option value="usa">
                Ship to 
              </option>
              <option value="uk"></option>
              <option value="germany"></option>
            </select>
          </li>
        </ul>

    </div>
</nav>